* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

:root {
  --primary-color: #9f4292;
  --primary-color-opacity: #e6a5dd;
  --primary-color-opacity2: #d87bcc;
  --secondary-color: #75c9c0;
  --secondary-color-hover: #59a39c;
  font-size: 62.5%;
  word-spacing: 2;
  letter-spacing: 1.25;
}

header {
  position: relative;
  overflow: hidden;
  height: 100vh;
  z-index: 1;
}

.header-transition1{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(-100%);
  background: var(--primary-color-opacity);
  z-index: 5;
}


.header-sibling.open{
  z-index: 10;
  animation: headerTransition3 1.1s linear both;
}

.header-sibling.reverse{
  z-index: 10;
  animation: headerTransition3Reverse 1.1s linear both;
}

.header-transition1.open{
  animation: headerTransition 2s linear both;
}

.header-transition1.reverse{
  animation: headerTransitionReverse 2s linear both;
}

.header-transition2.reverse{
  animation: headerTransition2Reverse 2s linear both;
}

.header-transition-arrow{
  color: #000;
  z-index: 15; 
  font-weight: 900;
  cursor: pointer;
  user-select: none;
}

.header-transition-arrow1{
  position: absolute;
  left: 95%;
  top: -10%;
  width: 5%;
  height: 110%;
  display: grid;
  place-items: center; 
}

.header-transition-arrow1 span{
  font-size: 5rem;
}

.header-transition-arrow2{
  position: absolute;
  left: 0;
  top: -10%;
  width: 5%;
  height: 110%;
  display: grid;
  place-items: center; 
}

.header-transition-arrow2 span{
  font-size: 5rem;
}

.header-transition2{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  transform: translateX(-100%);
  width: 100%;
  height: 100vh;
  z-index: 6;
  background: var(--primary-color-opacity2);
}

.header-sibling{
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-110%);
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: var(--primary-color);
}
.header-transition2.open{
  animation: headerTransition2 2s linear both;
}


/* create two classes holding the animations for the other headers and two more for reversing the animations */



header::before {
  position: absolute;
  content: "";
  top: -50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background-color: var(--primary-color);
  opacity: 0.2;
  border-radius: 40%;
  z-index: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  width: 100%;
  padding-block: 2%;
  padding-inline: 10%;
  z-index: 4;
  position: relative;
}

nav img {
  width: 10rem;
  height: auto;
}

nav .btn {
  background-color: var(--secondary-color);
  display: block;
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
  outline: none;
  border: none;
  border-radius: 4px;
  width: 12rem;
  transition: all 0.4s ease;
}

.hero {
  width: 100%;
  height: 88vh;
  padding-inline: 10%;
  position: relative;
  z-index: 1;
}

.tags {
  width: 50%;
}

.tags p {
  width: 89%;
  line-height: 1.5;
  letter-spacing: 1px;
}

.tags .btn {
  background-color: var(--secondary-color);
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
  outline: none;
  border: none;
  border-radius: 4px;
  width: 12rem;
  transition: all 0.4s ease;
}

.btn:hover {
  transform: translateY(-0.25rem);
  background-color: var(--secondary-color-hover);
  box-shadow: -2px 18px 40px -10px rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: -2px 18px 40px -10px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: -2px 18px 40px -10px rgba(0, 0, 0, 0.32);
}
.hero-svg {
  height: 100%;
  width: 60%;
  display: flex;
}

.hero-svg2{
  position: inherit;
  margin-top: 5%;
  left: 17%;
}

.img-1 {
  width: 15rem;
  animation: hover 4s cubic-bezier(0.61, 1, 0.88, 1) infinite both;
}

.img-3 {
  width: 15rem;
  animation: hover 4s cubic-bezier(0.61, 1, 0.88, 1) infinite both;
}

.mini-nav {
  width: 100%;
  height: 15vh;
  padding-inline: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 8rem;
  border-bottom: 4px solid #ddd;
}

.nav-el {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.nav-el .iconify {
  font-size: 7rem;
  color: var(--primary-color);
  padding: 10px;
  background-color: var(--primary-color-opacity);
  border-radius: 50%;
}

.nav-el h5 {
  color: var(--primary-color);
}

.mini-features {
  padding-inline: 10%;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.feature img {
  width: 40rem;
  height: auto;
  opacity: 0;
}

.feature1 img{
  transform: translateX(-20rem);
}

.feature2 img{
  transform: translateX(20rem);
}

.feature1-animation{
  animation: fadeIn 0.8s cubic-bezier(0.61, 1, 0.88, 1) both;
}

/* .feature2-animation{
  animation: fadeInReverse 0.8s cubic-bezier(0.61, 1, 0.88, 1) both;
} */
.feature div {
  width: 50%;
  transform: translateY(20rem);
  opacity: 0;
}

.feature-text-animation{
  animation: fadeUp 1s 1.1s cubic-bezier(0.61, 1, 0.88, 1) both;
}

.feature p {
  line-height: 1.5;
}
.feature div a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 0.4s ease;
}

.feature div a:hover {
  background-color: var(--secondary-color-hover);
  color: #fff;
}

.super-features {
  display: flex;
  justify-content: space-between;
  padding-inline: 10%;
  background-color: var(--primary-color);
  margin-top: 5%;
  height: 85vh;
  align-items: center;
}

.super-feature {
  width: 30%;
  text-align: center;
}

.super-feature img {
  width: 15rem;
  margin: 0 auto;
}

.calc {
  width: 100%;
  height: 50vh;
  padding-inline: 10%;
  padding-block: 5%;
  margin-bottom: 10rem;
}

.calc-form {
  height: fit-content;
  border-radius: 16px;
  justify-content: space-between;
  padding: 5% 5%;
  border: 2px solid #ddd;
  position: relative;
}
.calc-form:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: green;
  z-index: 0;
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
  background-color: var(--primary-color);
  border-radius: 16px 0 0 16px;
}

.calc-form form {
  width: 50%;
  padding-left: 2%;
}

.calc-form p {
  width: 50%;
  padding-inline: 5%;
  position: relative;
  z-index: 5;
  line-height: 1.5;
}

.calc-form input {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.32);
  border-top: 2px solid #ddd;
  border-left: 2px solid #ddd;
  transition: all 0.4s ease;
}

.calc-form input:focus {
  box-shadow: 10px 10px 93px -36px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 93px -36px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px -36px rgba(0, 0, 0, 0.75);
  border: 2px solid var(--secondary-color-hover);
  outline: none;
}

form button {
  background-color: var(--secondary-color);
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 4px;
  transition: all 0.4s ease;
}

form button:hover {
  transform: translateY(-0.25rem);
  background-color: var(--secondary-color-hover);
  box-shadow: -2px 18px 40px -10px rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: -2px 18px 40px -10px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: -2px 18px 40px -10px rgba(0, 0, 0, 0.32);
}



.faq-section {
  padding-inline: 10%;
}

.faq-div {
  padding-inline: 10%;
  border: 2px solid #ddd;
  padding-block: 2%;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}

.faq-div.fit-content{
  height: fit-content;
  transition: all .4s ease;
}

.faq-div div {
  margin-bottom: 1.5rem;
}

.faq-answer{
  height: 0;
  overflow: hidden;
  transition: .5s ease;
}

.fit{
  height: fit-content;
  overflow: visible;
}

.faq-div .iconify {
  font-size: 2rem;
  color: var(--primary-color-opacity);
  cursor: pointer;
}

.newsletter{
  margin-inline: 10%;
  background-color: var(--primary-color);
  width: 80%;
  height: fit-content;
  padding-inline: 10%;
  padding-block: 5%;
  border-radius: 50px;
  margin-block: 5%;
}

.newsletter p{
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.newsletter form{
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-inline: 10%;
  padding-top: 5%;
}

.newsletter form input{
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.32);
  border-top: 2px solid #ddd;
  border-left: 2px solid #ddd;
  transition: all 0.4s ease;
  width: 70%;
  margin-inline: auto;
}

.newsletter form input:focus{
  box-shadow: 10px 10px 93px -36px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 93px -36px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px -36px rgba(0, 0, 0, 0.75);
  border: 2px solid var(--secondary-color-hover);
  outline: none;
}

.newsletter form button{
  margin: 0 auto;
}
@keyframes hover {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(20px);
  }

  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes fadeUp {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes headerTransition{
  0%{
  transform: translateX(-90%);
  }

  25%{
    transform: translateX(-40%);
    }

  50%{
    transform: translateX(10%);
    }

  75%{
    transform: translateX(60%);
    }

  100%{
    transform: translateX(110%);
    }
}

@keyframes headerTransitionReverse{
  0%{
  transform: translateX(20%);
  }

  25%{
    transform: translateX(-30%);
    }

  50%{
    transform: translateX(-80%);
    }

  75%{
    transform: translateX(-130%);
    }

  100%{
    transform: translateX(-180%);
    }
}



@keyframes headerTransition2{
  0%{
  transform: translateX(-100%);
  }

  25%{
    transform: translateX(-50%);
    }

  50%{
    transform: translateX(0%);
    }

  75%{
    transform: translateX(50%);
    }

  100%{
    transform: translateX(100%);
    }
}

@keyframes headerTransition2Reverse{
  0%{
  transform: translateX(10%);
  }

  25%{
    transform: translateX(-40%);
    }

  50%{
    transform: translateX(-90%);
    }

  75%{
    transform: translateX(-140%);
    }

  100%{
    transform: translateX(-190%);
    }
}


@keyframes headerTransition3{
  0%{
  transform: translateX(-110%);
  }

  25%{
    transform: translateX(-81%);
    }

  50%{
    transform: translateX(-52%);
    }

  75%{
    transform: translateX(-23%);
    }

  100%{
    transform: translateX(0);
    }
}

@keyframes headerTransition3Reverse{
  0%{
  transform: translateX(0%);
  }

  25%{
    transform: translateX(-23%);
    }

  50%{
    transform: translateX(-52%);
    }

  75%{
    transform: translateX(-81%);
    }

  100%{
    transform: translateX(-110%);
    }
}
